/** body **/

body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    position: relative;
    overflow: hidden;
}
body.blue {
    background-image: radial-gradient(#55a, #004);
}
body.red {
    background-image: radial-gradient(#a44, #400);
}
body.green {
    background-image: radial-gradient(#494, #040);
}
body.yellow {
    background-image: radial-gradient(#cc0, #660);
}


/** video player **/

#video {
    /*
    background-image: url(../images/static.gif);
    */
    background-image: radial-gradient(#333, #000);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid rgba(128, 128, 128, .4);
    border-top: none;
    height: 50%;
    width: 720px;
    max-width: 99%;
    margin: 0 auto -1px;
    text-align: center;
    overflow: hidden;
    position: relative;
}
#video>iframe {
    border: none;
    width: 720px;
    height: 100%;
}

#video>.loader {
    animation: 3s ease-in-out 1 rotate-gamepad;
    animation-fill-mode: forwards;
    font-size: 200px;
    text-align: center;
    line-height: 2000px;
    position: absolute;
    /*
    top: 0;
    left: calc(50% - 110px);
    */
    z-index: 10;

    width: 2000px;
    height: 2000px;
    display: block;
    transform-origin: 50% 50%;
    top: -800px;
    left: -640px;
    background-image: conic-gradient(
            white, white 7deg,
            transparent 10deg, transparent 49deg, white 52deg, white 67deg,
            transparent 70deg, transparent 109deg, white 112deg, white 127deg,
            transparent 130deg, transparent 169deg, white 172deg, white 187deg,
            transparent 190deg, transparent 229deg, white 232deg, white 247deg,
            transparent 250deg, transparent 289deg, white 292deg, white 307deg,
            transparent 310deg, transparent 349deg, white 352deg, white 360deg);
    /*
    background: repeating-radial-gradient(black, black 20px, white 20px, white 40px);
    */
}
#video>.loader>span {
    display: inline-block;
}

#video>#output {
    color: #aaa;
    font-family: Calibri, sans-serif;
    font-size: 32px;
    font-weight: bold;
    position: absolute;
    bottom: 7px;
    right: 5px;
}
#video>#output>span {
    animation: 5s ease-in-out 1 fade-output;
    animation-fill-mode: forwards;
    padding: 0 6px;
    text-shadow: 0 0 15px 15px #0bf;
    background-color: rgba(0, 0, 0, .75);
}
#video>#output>span:first-child {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}
#video>#output>span:last-child {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

#video .static {
    width: 1000px;
    height: 1000px;
    background-image: url(../images/static.gif);
    z-index: 9;
    position: absolute;
    top: 0;
    left: 0;
    animation: 3s disappear;
    animation-fill-mode: forwards;
}


/** gamepad interface **/

#wrapper {
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    transition-duration: .5s;
    visibility: hidden;
}

#gamepad {
    height: 768px;
    width: 1024px;
    background: url(../images/controller.webp) no-repeat center;
    background-size: contain;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    transform: scale(.25);
    transform-origin: top left;
    transition-duration: .5s;
}
/* MS Edge is scared of webp */
.no-webp #gamepad {
    background: url(../images/controller.png) no-repeat center;
    background-size: contain;
}

.pressable {
    cursor: grab;
    outline: none;
    transition-duration: .33s;
}
.pressable:active, .pressable:hover, .pressable:focus, .pressable.active{
    box-shadow: 0 0 16px 16px rgba(0, 183, 255, .8);
}
.pressable:active, .pressable.active {
    background-color: rgba(0, 183, 255, .8);
    cursor: grabbing;
    transition-duration: 0s;
}
.pressable.sentPress {
    box-shadow: 0 0 20px 20px rgba(255, 183, 0, .8) !important;
}

.button {
    border-radius: 36px;
    height: 72px;
    position: absolute;
    width: 72px;
    display: block;
}

.trigger {
    position: absolute;
    display: block;
}

#button-A {
    left: 775px;
    top: 418px;
    height: 67px;
}
#button-A:active, #button-A.active {
    background-color: rgba(192, 255, 192, .5);
}

#button-B {
    left: 862px;
    top: 350px;
    height: 65px;
    width: 71px;
    border-radius: 37px 28px / 36px 28px;
}
#button-B:active, #button-B.active {
    background-blend-mode: lighten;
    background-color: rgba(255, 192, 192, .5);
}

#button-X {
    left: 697px;
    top: 351px;
}
#button-X:active, #button-X.active {
    background-blend-mode: lighten;
    background-color: rgba(192, 192, 255, .5);
}

#button-Y {
    left: 783px;
    top: 286px;
    height: 67px;
}
#button-Y:active, #button-Y.active {
    background-blend-mode: lighten;
    background-color: rgba(223, 223, 192, .5);
}

#button-L3 {
    border-radius: 70px / 55px;
    left: 131px;
    top: 361px;
    height: 122px;
    width: 140px;
}
#button-R3 {
    border-radius: 64px / 55px;
    left: 588px;
    top: 514px;
    height: 114px;
    width: 129px;
}
#button-select {
    border-radius: 22px;
    left: 371px;
    top: 370px;
    height: 44px;
    width: 62px;
}
#button-start {
    border-radius: 20px;
    left: 595px;
    top: 373px;
    height: 40px;
    width: 55px;
}
#button-LB {
    border-radius: 120px 70px 20px 0 / 40px 48px 20px 0;
    height: 55px;
    width: 190px;
    left: 105px;
    top: 167px;
    transform: rotate(-10deg);
}
#button-RB {
    border-radius: 70px 120px 0 20px / 48px 40px 0 20px;
    height: 55px;
    width: 190px;
    left: 730px;
    top: 167px;
    transform: rotate(10deg);
}
#button-LT {
    border-radius: 15px 11px 0 0 / 60px 20px 0 0;
    height: 85px;
    width: 76px;
    left: 197px;
    top: 78px;
}
#button-RT {
    border-radius: 11px 15px 0 8px / 20px 60px 0 20px;
    height: 85px;
    width: 76px;
    left: 753px;
    top: 78px;
}

.direction {
    border-radius: 5px;
    height: 40px;
    width: 40px;
    position: absolute;
    z-index: 10;
}
.direction:hover {
    background-blend-mode: lighten;
    box-shadow: 0 0 16px 16px rgba(0, 183, 255, .8);
    transition-duration: .33s;
}

#direction-up {
    left: 335px;
    top: 488px;
}
#direction-right {
    left: 390px;
    top: 533px;
}
#direction-down {
    left: 335px;
    top: 572px;
}
#direction-left {
    left: 278px;
    top: 533px;
}
#direction-up-left-stick {
    left: 177px;
    top: 373px;
}
#direction-right-left-stick {
    left: 222px;
    top: 409px;
}
#direction-down-left-stick {
    left: 181px;
    top: 439px;
}
#direction-left-left-stick {
    left: 136px;
    top: 408px;
}
#direction-up-right-stick {
    left: 630px;
    top: 527px;
}
#direction-right-right-stick {
    left: 670px;
    top: 561px;
}
#direction-down-right-stick {
    left: 632px;
    top: 588px;
}
#direction-left-right-stick {
    left: 592px;
    top: 561px;
}
.up {
    border-radius: 20px 20px 20px 20px / 8px 8px 32px 32px;
}
.up:active, .up:focus, .up:hover {
    box-shadow: 0 -8px 16px 16px rgba(0, 183, 255, .8);
}
.right {
    border-radius: 32px 8px 8px 32px / 20px 20px 20px 20px
}
.right:active, .right:focus, .right:hover {
    box-shadow: 8px 0 16px 16px rgba(0, 183, 255, .8);
}
.down {
    border-radius: 20px 20px 20px 20px / 32px 32px 8px 8px;
}
.down:active, .down:focus, .down:hover {
    box-shadow: 0 8px 16px 16px rgba(0, 183, 255, .8);
}
.left {
    border-radius: 8px 32px 32px 8px / 20px 20px 20px 20px
}
.left:active, .left:focus, .left:hover {
    box-shadow: -8px 0 16px 16px rgba(0, 183, 255, .8);
}


/** Timer **/
#egg {
    position: absolute;
    bottom: 0;
    left: -300px;
    width: 300px;
    height: 300px;
    background-image: url(../images/bill.gif);
    animation: 4s linear walk 1;
    animation-fill-mode: forwards;
}
#timer {
    position: absolute;
    bottom: 35px;
    right: 35px;
    width: 6px;
    height: 30px;
    background-color: rgba(160, 160, 160, .6);
    animation: 1s ease-in rotate-timer infinite;
    animation-delay: .1s;
    transform-origin: 3px 27px;
    border-radius: 3px 3px 3px 3px / 27px 27px 3px 3px;
}


/** Animations **/

@keyframes rotate-gamepad {
    0% {transform: rotate(0);}
    30% {transform: rotate(375deg);}
    40% {transform: rotate(345deg);}
    45% {transform: rotate(360deg) scale(1.5);}
    50% {transform: rotate(365deg) scale(0.67);}
    55% {transform: rotate(360deg) scale(1.5);}
    60% {transform: rotate(357deg);}
    65% {transform: rotate(360deg);}
    75% {transform: rotate(360deg); opacity: 1;}
    99.9% {transform: scale(20); opacity: 0;}
    100% {transform: scale(0); opacity: 0;}
}

@keyframes fade-output {
    0% {}
    85% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes timer {
    0% {
        left: calc(50% - 30px);
        width: 60px;
        border-radius: 30px / 20px;
    }
    100% {
        left: 50%;
        width: 0;
        border-radius: 0;
    }
}

@keyframes rotate-timer {
    0%, 2.5% {transform: rotate(0);}
    97.5%, 100% {transform: rotate(360deg);}
}

@keyframes walk {
    0% {left: -300px;}
    100% {left: calc(100% + 300px);}
}

@keyframes disappear {
    90.01% {opacity: 1;}
    99.99% {transform: scale(1);}
    100% {transform: scale(0); opacity: 0;}
}
